<h1>お問い合わせ</h1>
<%=form_with(model: @contact,local: true) do |form|%>
 <% if flash[:notice] %>
    <%= flash[:notice] %>
 <% end %>

 <div >
    <%= form.label :name %><br>
    <%= form.text_field :name %>
 </div>
 <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
 </div>
 <div>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
 </div>
    <%= form.submit %>
<% end %>